.attribution {
  font-size: 15px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  background-color: #d5e1ef;
  font-size: 15px;
  font-family: "Outfit", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 3px 15px #000000;
  width: 400px;
  padding: 20px;
  margin-bottom: 16px;
}

.card-img {
  width: 100%;
  max-height: 100vh;
  max-width: 100vh;
  border-radius: 15px;
}

.card-title {
  text-align: center;
  margin: 20px 0;
  font-size: 25px;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
}

.card-description {
  text-align: center;
  margin-bottom: 20px;
  color: hsl(220, 15%, 55%);
}
